/*******************************************************************************/
/* MENU CENTRE                                                                 */
/*******************************************************************************/

.center{
  margin-top: 2.5%;
  margin-left: 12.5%;
  width: 80%;
}


/*******************************************************************************/
/* EN TETE - RAPPORT CHANTIER ...                                              */
/*******************************************************************************/

.top{
  display: grid;
  grid-template-columns: 30% 70%;
  margin-top: 1.5%;
  margin-left: 10%;
  margin-bottom: 2%;
  width: 80%;
  color: black;
  margin-top:2%;
  background-color:#ac2831;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right:2px solid black;
  box-shadow: 0px 5px 5px black;
  opacity:0.9;
  z-index: 3;
  width: 80%;
}

.top-gauche{
  padding-left: 2%;
  border-right:3px solid black;
  background-color: #f6ddcc/*#d4e6f1*/;
}



.top-input{
  margin: 1%;
  background-color: #f6ddcc;
  border: none;
  font-size: 150%;
}

.top-droite{
  margin-top: 4%;
  text-align: center;
  color: white;
}


/*******************************************************************************/
/* BOUTONS DU BAS                                                              */
/*******************************************************************************/

.container {
  display: inline-block;
  position: relative;
  margin-bottom: 12px;
  padding-left: 30px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 15%;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
  margin-top: 25px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #982723;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 5px;
	left: 5px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: white;
}

.meteo{
  width: 75px;
}

.center{
  margin-top: 2.5%;
  margin-left: 12.5%;
  width: 80%;
}

.tab_text{
  background-color:#ac2831;
  padding-left: 2%;
  padding-right: 2%;
}

.tab_text_1{
  background-color:#ac2831;
  width: 16%;
}

.tab_text_2{
  color: black;
  width: 35%;
}

.tab_text_3{
  background-color:#ac2831;
  width: 10%;
}

.text-titre-tab{
  text-align: center;
  background: #b2babb;
  color: black;
  border:2px solid black;
  font-size: 25px;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 10px;
  margin-left: 10%;
  width: 80%;
}

.obs{
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
  margin-bottom: 5%;
  height: 100px;
  background-color: darkgrey;
  opacity: 0.75;
  border: 1px grey solid;
  border-radius: 10px;
}

.obs_input{
  width: 100%;
  height: 100%;
  background-color: darkgrey;
  border: 1px grey solid;
  border-radius: 10px;
}

.obs_input::placeholder{
  color: black;
}

/* Css pour les tableau */

table {
  margin-top: 2%;
  margin-bottom: 3%;
  margin-left: 10%;
  margin-right: 3%;
  color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.9;
  font-size: 20px;
  background-color: red;

}
table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}
th, td {
  background-color: white;
  text-align: center;
}
input{
  width: 96%;
}

/* Champs de saisies */

.textarea{
  width: 98%;
  padding: 1%;
  margin-bottom: 1%;
  resize: none;
}

.text-titre-tab-incident{
  text-align: center;
  background: #b2babb;
  color: black;
  border:2px solid black;
  font-size: 25px;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 10px;
  width: 100%;
}

.type_incident{
    font-weight: bold;
    margin-top: 2%;
    width: 100%;
    margin-left: 0;
}

.cont_meteo{
  display: grid;
  margin-left: 10%;
  grid-template-columns: 17% 17% 17% 17% 17%;
  text-align: center;
}
